---
const { src, alt } = Astro.props;
---

<div
    class="relative w-28 h-28 rounded-full border-2 border-[#1e293b] overflow-hidden bg-[#1e293b]"
>
    <img src={src} alt={alt} class="w-full h-full object-cover" />
</div>
