---
import StatusDot from "@components/atoms/StatusDot.astro";

const { name, bio } = Astro.props;
---

<div class="text-center space-y-1">
    <h1 class="text-white text-2xl font-bold tracking-tight">{name}</h1>

    <div class="flex items-center gap-2 justify-center">
        <StatusDot />
        <p class="text-slate-400 text-sm font-medium">Abierto a oportunidades</p>
    </div>

    <p class="text-slate-500 text-sm max-w-[280px] mx-auto pt-2">
        {bio}
    </p>
</div>
